USE [master]
GO
/****** Object:  Database [COMPANY]    Script Date: 16-10-2019 19:10:13 ******/
CREATE DATABASE [COMPANY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMPANY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\COMPANY.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'COMPANY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\COMPANY_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMPANY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMPANY]
GO
/****** Object:  Schema [PRODUCTION]    Script Date: 16-10-2019 19:10:14 ******/
CREATE SCHEMA [PRODUCTION]
GO
/****** Object:  Schema [SALES]    Script Date: 16-10-2019 19:10:14 ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [PRODUCTION].[CATEGORIES]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[CUSTOMER]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](20) NOT NULL,
	[LAST_NAME] [varchar](20) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[STREET] [varchar](30) NOT NULL,
	[CITY] [varchar](20) NOT NULL,
	[STATE_] [varchar](20) NOT NULL,
	[ZIP_CODE] [numeric](20, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[ORDER_ITEM]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[ORDER_ITEM](
	[ORDER_ID] [int] NOT NULL,
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[LIST_PRICE] [int] NOT NULL,
	[DISCOUNT] [int] NOT NULL,
	[ITEM_AMOUNT]  AS ([QUANTITY]*[LIST_PRICE]-[DISCOUNT]),
PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[ORDERS]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_STATUS] [varchar](20) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[REQUIRED_DATE] [date] NOT NULL,
	[SHIPPED_DATE] [date] NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STAFFS]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFFS](
	[STAFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](20) NOT NULL,
	[LAST_NAME] [varchar](20) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[ACTIVE] [varchar](20) NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[MANAGER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 16-10-2019 19:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[STORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_NAME] [varchar](20) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[STREET] [varchar](20) NOT NULL,
	[CITY] [varchar](20) NOT NULL,
	[STATE_] [varchar](20) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [SALES].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ORDER_ITEM] FOREIGN KEY([ORDER_ID])
REFERENCES [SALES].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [SALES].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDERS_ORDER_ITEM]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS_ORDERS] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [SALES].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_CUSTOMERS_ORDERS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_ORDERS] FOREIGN KEY([STAFF_ID])
REFERENCES [SALES].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_STAFFS_ORDERS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_STORES_ORDERS] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_STORES_ORDERS]
GO
ALTER TABLE [SALES].[ORDER_ITEM]  WITH CHECK ADD CHECK  (([LIST_PRICE]>(0)))
GO
ALTER TABLE [SALES].[ORDER_ITEM]  WITH CHECK ADD CHECK  (([QUANTITY]>(0)))
GO
USE [master]
GO
